mat-expansion-panel {
  width: 80rem;
  margin: 1rem auto;
  box-shadow: 0px 0px 5px 5px rgba(#000000, 0.2) !important;

  mat-expansion-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  mat-panel-description {
    margin: 0;
    width: 100%;

    mat-card {
      width: 100%;
    }
  }
}

:host ::ng-deep .mat-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: large;
}

mat-form-field {
  width: 100%;
}
