<div class="container">
  <mat-expansion-panel *ngIf="!postId; else edit">
    <mat-expansion-panel-header> Create post &nbsp;
      <mat-icon>playlist_add</mat-icon></mat-expansion-panel-header>
    <mat-panel-description>
      <ng-template [ngTemplateOutlet]="edit"></ng-template>
    </mat-panel-description>
  </mat-expansion-panel>
</div>

<ng-template #edit>
  <mat-card>
    <mat-card-title *ngIf="postId">Update post &nbsp;
      <mat-icon>playlist_play</mat-icon></mat-card-title>
    <mat-card-content>

      <form *ngIf="createUpdatePostForm" [formGroup]="createUpdatePostForm" autocomplete="off"
        (ngSubmit)="createUpdatePostForm.valid && (postId ? updatePost() : createPost())">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" type="text" placeholder="Enter post title" />
        </mat-form-field>
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
          </ngx-editor-menu>
          <ngx-editor [editor]="editor" formControlName="content"> </ngx-editor>
        </div>
        <br>
        <button color="primary" mat-raised-button
          [disabled]="!createUpdatePostForm.valid || !createUpdatePostForm.dirty">
          {{ postId ? 'Update' : 'Create' }}
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</ng-template>