app-create-update-post, app-posts-list, .container  {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

mat-card {
  padding: 1rem;
  width: 80rem;
  overflow-x: auto;

  mat-card-content {
    padding: 0;
  }
}