.content {
  width: auto;
  bottom: 0;
  right: 8%;
  position: fixed;
  justify-content: center;
  border-radius: 10px 10px 0 0;

  div {
    span {
      font-family: 'Bowlby One SC', cursive
    }
  }
}