<mat-card *ngIf="comment">
  <mat-card-title>
    <div>
      <span>
        <i>{{comment.createdBy}} wrote...</i>
        <br>
      </span>
      <span>{{comment.title}}</span>
    </div>
    <div class="action-buttons">
      <button mat-fab *ngIf="comment.createdBy == (user$ | async).username"
        (click)="delete(comment.id)"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card-title>
  <mat-card-content class="content"> {{comment.content}}

  </mat-card-content>
  <mat-card-footer>
    <span>Date created: {{comment.dateCreated | date : 'short'}}</span>
  </mat-card-footer>
</mat-card>