.my-space {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;

  mat-card{
    width: 20rem;
  }
}

app-create-update-post, app-posts-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}