.container {
  width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  .posts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;

    mat-card {
      padding: 0;

      mat-card-content {
        padding: 2rem;

        h1 {
          margin: 0;
        }
      }
    }

    app-post {
      width: 100%;
    }
  }
}
