/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.background {
  background-image: url("/assets/headspace.jpg");
  background-position: center center;  
  background-repeat: no-repeat;  
  background-attachment: fixed;  
  background-size: cover;  
  width: 100%;
  height: 100vh;
} 

.app-content {
  display: block;
  animation: changeBackgroundColor 10s infinite;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Raleway", sans-serif !important;
}

html,
body {
  height: 100vh;
}
body {
  margin: 0;
}

.material-icons{
  font-family: 'Material Icons' !important;
}

.NgxEditor__MenuBar {
  background-color: #424242 !important;
  color: white !important;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: rgba(128, 0, 128,0.3);
  }
  50% {
    background-color: rgba(0, 31, 63,0.3);
  }
  100% {
    background-color: rgba(128, 0, 128,0.3);
  }
}

