<mat-card *ngIf="post">
  <mat-card-title>
    <span>{{post.title}}</span>
    <div class="action-buttons">
      <button mat-fab [routerLink]="[post.id]"><mat-icon>edit</mat-icon></button>
      <button mat-fab (click)="delete(post.id)"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card-title>
  <mat-card-content [innerHTML]="post.content">
    
  </mat-card-content>
  <mat-card-footer>
    <span>Date created: {{post.dateCreated | date : 'short'}}}</span>
    <span>Date updated: {{post.dateUpdated  | date : 'short'}}</span>
  </mat-card-footer>
</mat-card>