<mat-toolbar>
  <div class="toolbar-content" *ngIf="account | async as account;">
    <div class="menu">
      <div class="welcome" [matTooltip]="'Go to profile'" routerLink="/profile"><img [src]="(profileImage$ | async) || '../../../assets/empty-profile-pic.png'"
          style="width: 5rem; height: 5rem; margin:1rem; object-fit: cover; border-radius: 50%" alt="Profile Image">
        <span>Welcome {{account.username | uppercase}}</span> </div>
      <button mat-raised-button color="primary" *ngIf="account" routerLink="/my-space">My Space</button>
    </div>

    <div *ngIf="account; else noAccount">
      <button mat-raised-button color="warn" (click)="logOut()">
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>

<ng-template #noAccount>
  <div class="account-buttons">
    <button mat-raised-button color="basic" routerLink="/login">
      Login
    </button>
    <button mat-raised-button color="accent" routerLink="/register">
      Register
    </button>
  </div>
</ng-template>