<mat-toolbar>
  <div class="toolbar-content" *ngIf="account | async as account;">
    <div class="menu">
      <span>Welcome {{account.username | uppercase}}</span>
      <button mat-raised-button color="primary" *ngIf="account" routerLink="/my-space">My Space</button>
    </div>

    <div *ngIf="account; else noAccount">
      <button mat-raised-button color="warn" (click)="logOut()">
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>

<ng-template #noAccount>
  <div class="account-buttons">
    <button mat-raised-button color="basic" routerLink="/login">
      Login
    </button>
    <button mat-raised-button color="accent" routerLink="/register">
      Register
    </button>
  </div>
</ng-template>