mat-card {
  margin: 1rem;
  padding: 1rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  mat-card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

textarea {
  resize: vertical;
}

span {
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
