<div class="container">
  <mat-card *ngIf="!isReadonlyMode; else readonly;">
    <mat-card-title>{{(account$ | async).username | uppercase}}'s Profile</mat-card-title>
    <button mat-button type="button" (click)="toggleReadonly()">Enable readonly</button>

    <mat-card-content>
      <form class="form-content" *ngIf="profileForm" [formGroup]="profileForm"
        (ngSubmit)="(!!this.selectedFile || this.profileForm.dirty) && updateProfile()">

          <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
        
        <input hidden (change)="onFileSelected($event)" #fileInput type="file">
        <span class="file-name">{{selectedFile?.name}}</span>
        <img [src]="imageSrc"
          style="width: 20rem; height: 20rem; margin:1rem auto; object-fit: cover; border-radius: 50%"
          alt="Profile Image">
        <mat-form-field>
          <mat-label>About Me</mat-label>
          <textarea matInput formControlName="aboutMe" [placeholder]="'Insert description about yourself...'"
            rows="4"></textarea>
        </mat-form-field>

        <button mat-raised-button [disabled]="profileForm.pristine && !selectedFile">Update
          Profile</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #readonly>
  <mat-card>
    <mat-card-title>{{(account$ | async).username | uppercase}}'s Profile</mat-card-title>
    <mat-card-content>
      <button mat-button (click)="toggleReadonly()">Enable edit</button>
      <div fxLayout="column" fxLayoutAlign="center center">
        <img [src]="imageSrc"
          style="width: 20rem; height: 20rem; margin:1rem auto; object-fit: cover; border-radius: 50%"
          alt="Profile picture">
      </div>
      <span>About Me:</span>
      <br>
      <span> {{aboutMe}} </span>
    </mat-card-content>
  </mat-card>
</ng-template>